<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{string.logo}}</title>
    <link rel="shortcut icon" href="{{root}}/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    {{#libs.external.css}}
    <link href="{{.}}" rel="stylesheet" type="text/css" media="all" />
    {{/libs.external.css}}
    
    {{#libs.css}}
    <link href="{{root}}{{.}}" rel="stylesheet" type="text/css" media="all" />
    {{/libs.css}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{#libs.external.js}}
    <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
    {{/libs.external.js}}
    
    {{#libs.js}}
    <script src="{{root}}{{.}}" type="text/javascript" charset="utf-8"></script>
    {{/libs.js}}
</head>
<body id="express-admin">
{{>header}}
<div id="wrapper" class="container-fluid">
    {{>layout}}

    <section class="mt-2">
        {{>breadcrumbs}}
        
        {{>content}}
    </section>

    <div id="footer-push" class="mt-4">&nbsp;</div>
</div>
<footer>
    <p><small><a href="http://simov.github.io/express-admin-site/" target="_blank" class="text-muted">Express Admin</a></small></p>
</footer>
</body>
</html>