<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="navbar-brand"><img src="img/brand.png" width="40" height="40" alt=""></div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav mr-auto">
            {{#tables}}
                {{#items}}
                    <li class="nav-item {{#active}}active{{/active}}"><a class="nav-link" href="{{root}}/{{slug}}">{{name}}</a></li>
                {{/items}}
            {{/tables}}
        </ul>
        <ul class="nav navbar-nav">
            {{#layouts}}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown">{{string.layout}} <b class="caret"></b></a>
                <div id="x-layout" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
                    <a class="dropdown-item active" href="#fixed">{{string.centered}}</a>
                    <a class="dropdown-item" href="#fluid">{{string.streched}}</a>
                </div>
            </li>
            {{/layouts}}
            {{#user}}
            <li class="nav-item"><a class="nav-link" href="{{root}}/logout">{{string.logout}} <strong>{{name}}</strong></a></li>
            {{/user}}
        </ul>
    </div>
</nav>