
<h3>
    {{string.site-admin}}
    <button id="btn-mainview-filter" class="btn btn-outline-primary" title="{{string.filter}}" type="button" data-toggle="collapse" data-target="#mainview-filter" aria-expanded="false" aria-controls="mainview-filter"><span class="fa fa-filter"></span></button>
</h3>

<form action="#" method="post" accept-charset="utf-8" class="card x-mv x-filter collapse" id="mainview-filter">
    <div class="card-body">
        <h5 class="panel-title">{{string.filter}}</h5>
        <div class="form-group row">
            <label class="col-form-label col-lg-3 col-md-3 col-sm-3">{{string.tables}}</label>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <input type="text" name="table" class="form-control" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <button type="button" name="clear" class="btn btn-primary form-control">{{string.clear}}</button>
            </div>
        </div>
    </div>
</form>

{{#tables}}
<table class="table table-bordered table-striped table-hover x-table">
    <thead>
        <tr class="label-default">
            <th>{{string.tables}}</th>
        </tr>
    </thead>
    <tbody>
    {{#items}}
    {{^active}}
        <tr>
            <td>
                <a href="{{root}}/{{slug}}">{{name}}</a>
                <a href="{{root}}/{{slug}}/add" class="fa fa-plus" title="{{string.add}} {{name}}"></a>
            </td>
        </tr>
    {{/active}}
    {{/items}}
    </tbody>
</table>
{{/tables}}

{{#views}}
<table class="table table-bordered table-striped table-hover x-table">
    <thead>
        <tr class="label-default">
            <th>{{string.views}}</th>
        </tr>
    </thead>
    <tbody>
    {{#items}}
        <tr>
            <td>
                <a href="{{root}}/{{slug}}">{{name}}</a>
            </td>
        </tr>
    {{/items}}
    </tbody>
</table>
{{/views}}

{{#custom}}
<table class="table table-bordered table-striped table-hover x-table">
    <thead>
        <tr class="label-default">
            <th>{{string.others}}</th>
        </tr>
    </thead>
    <tbody>
    {{#items}}
        <tr>
            <td>
                <a href="{{root}}/{{slug}}">{{name}}</a>
            </td>
        </tr>
    {{/items}}
    </tbody>
</table>
{{/custom}}
