
<div class="row">
    <ul class="pagination m-auto">
    {{#pagination}}
        
        {{#first}}
        <li class="page-item"><a class="page-link" href="{{root}}/{{view.slug}}">«</a></li>
        {{/first}}

        {{#prev}}
        <li class="page-item"><a class="page-link" href="{{root}}/{{view.slug}}/?p={{index}}">‹</a></li>
        {{/prev}}

        {{#page}}
        <li class="page-item"><a class="page-link" href="{{root}}/{{view.slug}}/?p={{index}}">{{index}}</a></li>
        {{/page}}

        {{#active}}
        <li class="page-item active"><a class="page-link" href="">{{index}}</a></li>
        {{/active}}

        {{#next}}
        <li class="page-item"><a class="page-link" href="{{root}}/{{view.slug}}/?p={{index}}">›</a></li>
        {{/next}}

        {{#last}}
        <li class="page-item"><a class="page-link" href="{{root}}/{{view.slug}}/?p={{index}}">»</a></li>
        {{/last}}

    {{/pagination}}
    </ul>
</div>
