<form action="{{root}}/{{view.slug}}" method="post" accept-charset="utf-8" class="card x-mv x-filter {{^have}}hidden{{/have}} collapse {{#collapsed}}show{{/collapsed}}" id="listview-filter">
    <div class="card-body">
        <h5 class="card-title">{{string.filter}}</h5>
        {{#have}}
        <div class="row">
            <div class="col mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="or" {{#or}}checked="checked"{{/or}} id="filter-or">
                    <label class="form-check-label" for="filter-or">{{string.or}}</label>
                </div>
            </div>
        </div>
            {{#filter}}
            <div class="row">
                {{#row}}
                    {{>column}}
                {{/row}}
            </div>
            {{/filter}}
        {{/have}}
        <div class="row">
            <div class="col mb-2">
                <label class="control-label">{{string.order}}</label>
                <select name="order" class="chosen-select form-control" data-placeholder="{{string.select}}">
                    <option value="" {{#selected}}selected="selected"{{/selected}}></option>
                    {{#order}}
                    <option value="{{name}}" {{#selected}}selected="selected"{{/selected}}>{{verbose}}</option>
                    {{/order}}
                </select>
            </div>
            <div class="col mb-2">
                {{#direction}}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="direction" value="{{value}}" {{#selected}}checked="checked"{{/selected}} id="filter-{{value}}"/> 
                    <label class="form-check-label" for="filter-{{value}}">{{text}}</label>
                </div>
                {{/direction}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control" name="action[filter]">{{string.filter}}</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary form-control" name="action[clear]">{{string.clear}}</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}" />
</form>
